-- SQL Update Script
UPDATE menu SET image_url = '/images/aloo-tikki.png' WHERE REPLACE(LOWER(name), ' ', '') = 'alootikki' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/black-forest.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'blackforest' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/blue-lagoon.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'bluelagoon' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/brownie-&-cake-combo.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'browniecakecombo' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/butter-chicken.png' WHERE REPLACE(LOWER(name), ' ', '') = 'butterchicken' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/buttermilk-(chaas).jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'buttermilkchaas' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/cappuccino.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'cappuccino' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/cheese-balls.png' WHERE REPLACE(LOWER(name), ' ', '') = 'cheeseballs' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/cheese-garlic-bread.png' WHERE REPLACE(LOWER(name), ' ', '') = 'cheesegarlicbread' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-65.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chicken65' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-biryani.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenbiryani' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-burrito.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenburrito' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-lollipop.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenlollipop' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-malai-tikka.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenmalaitikka' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-manchurian-(gravy).png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenmanchuriangravy' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-shawarma-plate.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenshawarmaplate' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-spring-roll.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickenspringroll' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-tandoori.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickentandoori' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chicken-tikka.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chickentikka' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chilli-chicken.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chillichicken' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chilli-paneer.png' WHERE REPLACE(LOWER(name), ' ', '') = 'chillipaneer' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chocolate-ice-cream.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'chocolateicecream' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chocolate-shake.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'chocolateshake' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/chole-bhature.png' WHERE REPLACE(LOWER(name), ' ', '') = 'cholebhature' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/coconut-water.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'coconutwater' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/coke.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'coke' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/crispy-baby-corn.png' WHERE REPLACE(LOWER(name), ' ', '') = 'crispybabycorn' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/crispy-corn.png' WHERE REPLACE(LOWER(name), ' ', '') = 'crispycorn' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/dahi-kebab.png' WHERE REPLACE(LOWER(name), ' ', '') = 'dahikebab' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/dal-makhani.png' WHERE REPLACE(LOWER(name), ' ', '') = 'dalmakhani' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/dessert-combo-plate.webp' WHERE REPLACE(LOWER(name), ' ', '') = 'dessertcomboplate' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/double-scoop-ice-cream.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'doublescoopicecream' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/falafel-wrap.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'falafelwrap' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/fish-fingers.png' WHERE REPLACE(LOWER(name), ' ', '') = 'fishfingers' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/french-fries.png' WHERE REPLACE(LOWER(name), ' ', '') = 'frenchfries' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/fruit-punch.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'fruitpunch' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/garlic-bread.png' WHERE REPLACE(LOWER(name), ' ', '') = 'garlicbread' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/gulab-jamun.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'gulabjamun' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/hara-bhara-kebab.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'harabharakebab' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/jalebi.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'jalebi' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/kitkat-shake.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'kitkatshake' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/latte.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'latte' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/lemon-mint-mojito.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'lemonmintmojito' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/malai-paneer-tikka.png' WHERE REPLACE(LOWER(name), ' ', '') = 'malaipaneertikka' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/mango-shake.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'mangoshake' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/masala-tea.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'masalatea' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/milk-tea.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'milktea' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/mint-cooler.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'mintcooler' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/mixed-fruit-juice.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'mixedfruitjuice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/mixed-starter-platter.png' WHERE REPLACE(LOWER(name), ' ', '') = 'mixedstarterplatter' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/mutton-rogan-josh.png' WHERE REPLACE(LOWER(name), ' ', '') = 'muttonroganjosh' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/nachos-with-cheese.png' WHERE REPLACE(LOWER(name), ' ', '') = 'nachoswithcheese' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/non-veg-starter-combo.png' WHERE REPLACE(LOWER(name), ' ', '') = 'nonvegstartercombo' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/onion-bhaji.png' WHERE REPLACE(LOWER(name), ' ', '') = 'onionbhaji' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/orange-juice.png' WHERE REPLACE(LOWER(name), ' ', '') = 'orangejuice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/oreo-shake.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'oreoshake' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/palak-paneer.png' WHERE REPLACE(LOWER(name), ' ', '') = 'palakpaneer' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/paneer-butter-masala.png' WHERE REPLACE(LOWER(name), ' ', '') = 'paneerbuttermasala' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/paneer-pakoda.png' WHERE REPLACE(LOWER(name), ' ', '') = 'paneerpakoda' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/paneer-tikka.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'paneertikka' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/pepsi.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'pepsi' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/pineapple-juice.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'pineapplejuice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/potato-wedges.png' WHERE REPLACE(LOWER(name), ' ', '') = 'potatowedges' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/prawns-fry.png' WHERE REPLACE(LOWER(name), ' ', '') = 'prawnsfry' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/ras-malai.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'rasmalai' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/rasgulla.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'rasgulla' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/red-bull.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'redbull' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/red-velvet.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'redvelvet' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/regular-tea.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'regulartea' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/salted-lassi.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'saltedlassi' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/samosa.png' WHERE REPLACE(LOWER(name), ' ', '') = 'samosa' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/schezwan-fried-rice.png' WHERE REPLACE(LOWER(name), ' ', '') = 'schezwanfriedrice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/seekh-kebab.png' WHERE REPLACE(LOWER(name), ' ', '') = 'seekhkebab' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/sprite.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'sprite' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/sting.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'sting' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/sweet-lassi.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'sweetlassi' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/sweet-lime-juice.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'sweetlimejuice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/vanilla-ice-cream.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'vanillaicecream' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/vanilla-shake.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'vanillashake' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/veg-manchurian.png' WHERE REPLACE(LOWER(name), ' ', '') = 'vegmanchurian' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/veg-spring-rolls.png' WHERE REPLACE(LOWER(name), ' ', '') = 'vegspringrolls' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/veg-tacos.png' WHERE REPLACE(LOWER(name), ' ', '') = 'vegtacos' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/virgin-mojito.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'virginmojito' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/walnut-brownie.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'walnutbrownie' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/watermelon-juice.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'watermelonjuice' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
UPDATE menu SET image_url = '/images/watermelon-splash.jpg' WHERE REPLACE(LOWER(name), ' ', '') = 'watermelonsplash' AND (image_url NOT LIKE '/images/%' OR image_url IS NULL OR image_url = '');
